@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url('https://fonts.googleapis.com/css?family=Lato:300');

table {
border-collapse:collapse;
border-spacing:0;
}

td {
border:1px solid #ccc;
}

address,caption,cite,code,dfn,th,var {
font-style:normal;
font-weight:normal;
}

ol,ul {
list-style:none;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}

q:before,q:after {
content:'';
}

pre {
font-size:1em;
}

html {
scrollbar-face-color:#fff;
scrollbar-highlight-color:#fff9ef;
scrollbar-shadow-color:#fff9ef;
scrollbar-3dlight-color:#fff9ef;
scrollbar-arrow-color:#fff9ef;
scrollbar-track-color:#fff9ef;
scrollbar-darkshadow-color:#fff9ef;
scrollbar-base-color:#fff9ef;
}

body {
font-family:arial;
font-size:9pt;
color:#777;
letter-spacing:1px;
background-color: white;
margin:0 auto;
}

a {
text-decoration:none;
}

br {
letter-spacing:0;
}

input {
border:0 solid #ccc;
background:#eee;
font-size:9pt;
font-family:arial;
color:#777;
height:18px;
vertical-align:middle;
-moz-border-radius:5px;
padding:0 5px;
}

textarea {
background:#eee;
overflow:hidden;
border:0;
}

#body-div {
overflow:hidden;
width:100%;
margin:0 auto;
}

#authority {
height:0;
position:absolute;
z-index:99999;
}

#authority a {
background:#eea593;
position:relative;
top:280px;
left:10px;
float:left;
color:#fff;
font-weight:bold;
-moz-border-radius:5px;
margin:0 7px 0 0;
padding:3px;
}

#main:after {
content:".";
height:0;
display:block;
clear:both;
visibility:hidden;
overflow:hidden;
}

#header {
margin-bottom:10px;
margin-top:30px;
margin-left:-50px;
margin-right:-35px;
height:200px;
background-image: url("https://farm2.staticflickr.com/1926/45761940461_93728151f4_k.jpg");
background-color:#ffffff;
background-position:center;
background-repeat:no-repeat;
background-size: auto 100%;
padding:0px;
position: relative;
}

#banner {
position: absolute;
top: 80px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
width: 250px;
height: 45px;
opacity: 0;
box-sizing: border-box;
}

#banner h1 {
width: 100%;
height: 100%;
display: inline-block;
box-sizing: border-box;
padding: 0;
margin: 0;
}

#banner h1 a {
width: 100%;
height: 100%;
display: inline-block;
box-sizing: border-box;
padding: 0;
margin: 0;
}

#banner p, #banner h2 {
display: none;
}

#navigation {
display: none;
}


#blog-category {
position:absolute;
top:260px;
left:0;
color:#eea594;
}

#login-bar {
position:absolute;
left:287px;
top:340px;
color:#999;
}

#spotlight {
width:675px;
background:#fefbf6;
border:1px solid #ddd0c8;
-moz-border-radius:5px;
margin-bottom:10px;
}

#spotlight h5 {
font-weight:bold;
color:#000;
text-align:left;
padding:10px 10px 5px;
}

#spotlight-text {
color:#555;
width:605px;
line-height:21px;
padding:5px 10px 10px;
}

#spotlight-text a {
color:#d8bad5;
font-weight:normal;
text-decoration:underline;
}

#spotlight-text a:hover {
color:#d8bad5;
}

.article-body {
overflow:hidden;
}

.article-footer {
text-align:right;
color:#555;
line-height:19px;
}

.bookmark {
text-align:right;
padding:20px 0 0;
}

.forward img {
width:10px;
height:10px;
filter:gray;
padding-right:2px;
}

#article-box {
margin:10px 0 0;
}

.main-list table {
border-collapse:collapse;
width:100%;
margin:20px 0 0;
}

.main-list table td {
border:1px solid #86d1e4;
border-top:0 solid #86d1e4;
border-left:0 solid #86d1e4;
border-right:0 solid #86d1e4;
}


a.user-name {
height:20px;
text-align:center;
padding:2px;
}


#trackback-box .post-text {
float:none;
width:auto;
padding:0 0 7px 7px;
font-size: 15px;
}

.single-post.secret {
min-height:20px;
_height:20px;
line-height:20px;
padding-left:10px;
width:540px;
background:#efd894;
padding-top:15px!important;
-moz-border-radius:5px;
}

.box-more {
text-align:right;
margin:5px 0 0;
}

.box-more a {
color:#555;
border:1px solid #fff;
background:#fff;
padding:1px 3px;
}

.box-more a:hover {
border:1px solid #fff;
background:#fff;
}

/* #links .box-text a {
display:block;
} */

#calendar table {
width:95%;
color:#fff;
margin:0 auto;
}

#calendar table th,#calendar table td {
text-align:center;
font-size:11px;
color:#fff;
border:1px solid #fefaf7;
background:#eea592;
}

#calendar .box-text td a {
color:#555;
background:#c2d6bd;
}

#calendar .box-text td a:hover {
color:#555;
font-weight:bold;
background:#c2d6bd;
}

#visitor .box-text li a {
width:25px;
height:25px;
margin:0 4px 2px 0;
}

#visitor .box-text li img {
margin:0;
}

#visitor .box-more {
clear:both;
}

#latest-comment span {
font-weight:bold;
}

#links #latest-trackback .box-text a {
border-bottom:0;
text-align:left;
}

#links #subsc<x>ription .box-text li a {
border:0;
text-align:left;
}

#footer {
clear:both;
overflow:hidden;
height:70px;
letter-spacing:1px;
line-height:20px;
color:#666;
text-align:right;
padding:50px 0 0;
}

#footer a {
color:#efa491;
}

fieldset,img,abbr,acronym {
border:0;
}

caption,th,#trackback-url,#subscription .box-text,#subscription .box-text li a {
text-align:left;
}

#blog-category a,#blog-category a:hover {
color:#eea594;
}

#login-bar a,.separator a:hover {
color:#999;
}

#navigation li,#visitor .box-text li,#crumb li {
float:left;
}

.article-content table td,.main-list td,.main-list th {
padding:5px;
}

.forward,#latest-comment a {
text-align:right;
}

#trackback-input,#trackback-url input {
color:#666;
background:#efd894;
}

.user-name a,.user-name a:hover,#visitor .box-text li a:hover {
background:none;
}

#links .box .box-more a {
display:inline;
}

#visitor,#crumb ul {
_height:1%;
overflow:hidden;
_overflow:none;
}

#visitor .box-text li a img,#visitor .box-text li a:hover img {
height:25px;
width:25px;
}

#latest-trackback li,#links #subsc<x>ription .box-text li {
text-align:left;
margin:0 0 3px;
padding:0 0 3px;
}


#content a:hover,#content a:active,#content a:hover,#content a:active {
color:#b06;
}


/*-----------------------/
/    Style by Anne       /
/-----------------------*/

/* Main layout */
#main {
  margin:0 0 0 3px;
  text-align: center;
}

@media only screen and (max-width: 1050px) {
  #content {
    width: 100%;
    display: block;
  }

  #links {
    display: block;
    float: right;
  }
}

@media only screen and (min-width: 1051px) {
  #content {
    width: 64%;
  }
}


/*Articles*/
#content {
max-width: 1000px;
min-width: 650px;
overflow:hidden;
color: #404040;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
font-weight: 300;
padding-left: 50px;
padding-right: 70px;
display: inline-block;
margin-top: 20px;
vertical-align: top;
}

#links {
width:350px;
box-sizing: border-box;
display: inline-block;
margin-top: 20px;
vertical-align: top;
text-align: left;
}

#article-area {
overflow:hidden;
margin:0;
padding:0;
width: 100%;
}

#article-box {
width: 100%;
}

#article-area .publish {
font-size:12px;
float: top;
text-align: center;
color: Gray;
font-weight: 300;
}

#article-area .publish .date,.time {
display: none;
}

#article-area .title {
text-align: center;
font-family: 'Quicksand', sans-serif;
font-size:18px;
}

#article-area .title a {
color: Gray;
}

#article-area .title a:hover {
color: #404040;
}

#article-area .article-head {
padding: 0;
}

#article-area .article-content {
text-align: left;
font-size:15px;
/*_height:1%;
overflow:hidden;
_overflow:none;
font-size:15px;
line-height:20px;
padding:10px 0 0;*/
}

#article-area .article-content-inner a {
color: #bc986d;
}

#article-area .article-content-inner a:hover {
color: Gray;
}

#article-area .more {
margin:20px 10px 20px 0;
height: 30px;
width: 155px;
background-image: url("https://farm5.staticflickr.com/4885/43941987740_ec032b8985.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
transition: 0.3s;
margin-left: auto;
margin-right: auto;
}

#article-area .more:hover {
background-image: url("https://farm5.staticflickr.com/4892/43941987700_b94f647226.jpg");
}

/* Make the link itself transparent so words wont show up, but still clickable */
#article-area .more a {
opacity: 0;
height: 30px;
width: 155px;
box-sizing: border-box;
display: block;
}

#article-area .author {
color: Gray;
text-align:right;
margin:0;
padding:5px 5px 10px 0;
border-bottom: 1px solid silver;
}

#article-area .author a , #article-area .refer a {
color: Gray;
}

#article-area .author a:hover, #article-area .refer a:hover {
color: #bc986d;
}

#article-area .back-to-top {
margin:5px 0 10px;
}

#article-area .back-to-top a {
color:#fff;
padding:2px;
transition: 0.3s;
background: Silver;
}

#article-area .back-to-top a:hover {
background: Gray;
}

#article-area .page a {
color: Gray;
}

#article-area .page a:hover {
color: #404040;
}

/* Inside article */
#comment-box {
position: relative;
}

#user-post .user-post-text {
font-size: 15px;
}

#user-post .post-comment {
position: absolute;
top: 0;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
height: 30px;
width: 155px;
background-image: url("https://farm5.staticflickr.com/4808/43989243090_49b3199270_o.png");
background-repeat: no-repeat;
background-size: 100% 100%;
transition: 0.3s;
}

#user-post .post-comment:hover {
background-image: url("https://farm5.staticflickr.com/4852/43989243000_514be5fd6a_o.png");
}

#user-post .post-comment a {
opacity: 0;
height: 30px;
width: 155px;
box-sizing: border-box;
display: block;
}

#user-post .user-post-title {
padding: 100px 0 0 0;
}

#user-post .single-post {
position: relative;
text-align:left;
overflow:hidden;
_height:1%;
background:#fff;
line-height:18px;
width:100%;
word-break:break-all;
margin:50px auto;
padding: 0;
}

#user-post .post-photo {
width:60px;
height: 60px;
position: absolute;
top: 0;
left: 0;
padding: 0;
}

#user-post .post-photo img {
width:60px;
height:60px;
border:3px solid #fff;
border-radius: 50%;
}

#user-post .post-text {
width:100%;
line-height:20px;
color:#404040;
padding: 80px 0 0 0;
}

#user-post .reply-text {
clear:both;
float:left;
width:100%;
margin-left:0;
color: #bc986d;;
line-height:21px;
-moz-border-radius:5px;
padding:20px 0 20px 40px;
box-sizing: border-box;
}

#user-post .reply-text p {
font-size: 10px;
}

#user-post .reply-text p a {
font-size: 15px;
color: Gray;
}

#user-post .reply-text p a:hover {
color: #404040;
}



#user-post .reply-text .input-textarea {
width: 100%;
height:1%;
overflow: hidden;
border: 1px solid;
background: white;
}

#user-post .post-info {
position:absolute;
top: 0;
left: 90px;
overflow:hidden;
color:#666;
-moz-border-radius:5px;
margin:0;
padding:15px 0 0 0;
}

#user-post .post-info .user-name a {
color: Gray;
}

#user-post .post-info .user-name a:hover {
color: #404040;
}

#user-post .post-info .post-time {
display: block;
color: #bc986d;
font-size: 10px;
}

#user-post .post-info a {
background:#fff;
color:#fff;
}

#user-post .post-info a.hide-message {
position:absolute;
top:8px;
right:10px;
display:block;
width:10px;
height:10px;
text-indent:-5000px;
}

#user-post .post-info a.delete-message {
position:absolute;
top:8px;
right:25px;
display:block;
width:10px;
height:10px;
text-indent:-5000px;
}

#container #main #content #user-post #comment-box #comment-area {
width: 100%;
padding: 0;
box-sizing: border-box;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 {
width: 100%;
border: none;
background: white;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 iframe {
display: none;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-identity.identity-login {
background: white;
border: none;
padding: 0;
position: relative;
height: 80px;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-identity.identity-login img.photo {
width: 35px;
height: 35px;
border-radius: 50%;
margin: 10px 0;
position: absolute;
top: 0;
left: 0;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-identity.identity-login div.openid-identity {
position: absolute;
top: 0;
left: 60px;
padding: 10px 0 0 0;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-identity.identity-login div.openid-identity span {
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 15px;
color: #404040;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-identity.identity-login div.openid-identity a {
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 15px;
color: Gray;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-identity.identity-login div.openid-identity a:hover {
color: #404040;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body {
padding: 0;
border: none;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-textarea {
width: 100%;
border: 1px solid silver;
box-sizing: border-box;
border-radius: 0px;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-textarea textarea {
width: 100%;
padding: 0;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-textarea div {
width: 100%;
padding: 0;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .captcha {
width: 100%;
border: none;
padding: 0;
box-sizing: border-box;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-extra {
width: 100%;
height: 60px;
margin: 20px 0 0 0;
position: relative;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-extra #unfold-comment-extra {
position: absolute;
top: 40px;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-extra button {
position: absolute;
top: 0;
left: 0;
width: 150px;
height: 30px;
border-radius: 0;
background-image: url("https://farm5.staticflickr.com/4808/44014831460_2867bfbf10_o.png");
background-position:center;
background-repeat:no-repeat;
background-size: 100% 100%;
padding: 0;
border: none;
margin: 0;
box-sizing: border-box;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-extra button:hover {
background-image: url("https://farm5.staticflickr.com/4883/45106971574_30027f3f3f_o.png");
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .comment-extra button span {
visibility: hidden;
}

#container #main #content #user-post #comment-box #comment-area #comment-area-2 div.comment-body .extra {
width: 100%;
border: none;
padding: 0;
box-sizing: border-box;
}

/*Top menu*/
#links-row-2 {
position: fixed;
top: 45px;
left: 0px;
width: 100%;
height: 40px;
background: white;
}

#links-row-2 .box-title.entry-title {
display: none;
width: 0;
height: 0;
}

#links-row-2 .box-text.entry-content {
background: white;
padding: 0px;
word-break: normal;
}

#anne-main-menu {
float: left;
font-size: 15px;
font-family: 'Quicksand', sans-serif;
text-transform: uppercase;
margin-left: 50px;
margin-top: 10px;
}

#anne-main-menu a.anne-category-link {
color: Gray;
transition: color 0.3s;	
}

#anne-main-menu a.anne-category-link:hover {
color: #404040;
}

#anne-main-menu .anne-dropdown {
position: relative;
float: left;
margin-right: 50px;
color: Gray;
transition: color 0.3s;
}

#anne-main-menu .anne-dropdown:hover {
color: #404040;
}

#anne-main-menu .anne-dropdown .anne-dropdownMenu {
visibility: hidden;
position: absolute;
opacity: 0;
transition: opacity 0.3s;
background-color: white;
padding-top: 12px;
width: 150px;
}

#anne-main-menu .anne-dropdown .anne-dropdownMenu ul {
padding: 0;
margin: 0;
}

#anne-main-menu .anne-dropdown .anne-dropdownMenu ul li {
border: 1px solid #C0C0C0;
box-sizing: border-box;
padding: 15px;
margin: -1px;
color: Gray;
transition: color 0.3s;
}

#anne-main-menu .anne-dropdown .anne-dropdownMenu ul li:hover {
color: #404040;
}

#anne-main-menu .anne-dropdown:hover .anne-dropdownMenu {
visibility: visible;
opacity: 0.9;
}


#anne-social-links {
float: right;
margin: 10px 20px 0 0;
}

#anne-social-links a.anne-social-link-item {
float: left;
margin-left:10px;
color: Gray;
transition: color 0.3s;
font-size: 20px;
}

#anne-social-links a.anne-social-link-item:hover {
color: #404040;
}

#search {
float: right;
margin: 10px 50px 0 20px;
width: 200px;
height: 19px;
}

#search-target {
height: 19px;
width:100px;
background:#eee;
}

#search ul {
padding: 0;
width: 200px;
height: 19px;
position: relative;
margin: 0;
}

#search ul li {
display:inline;
}

#search-form > ul > li:nth-child(2) {
position: absolute;
width: 70px;
height: 19px;
left: 130px;
color: Gray;
font-size: 15px;
font-family: 'Quicksand', sans-serif;
}

#search-form > ul > li:nth-child(2)::before {
content: "SEARCH";
}

#search-form > ul > li:nth-child(2):hover {
color: #404040;
}

#search-submit {
position: absolute;
opacity: 0;
width: 70px;
height: 19px;
left: 0px;
top: 0;
padding: 0;
}

/*Right column*/
#links-row-1 {
background: white;
padding-right: 50px;
color: Gray;
}

#links-row-1 a {
color: #404040;
}

#links-row-1 a:hover {
color: #bc986d;
}


#links-row-1 .hslice {
font-family: 'Quicksand', sans-serif;
font-size: 12px;
border: 1px solid silver;
margin-bottom: 25px
}

#links-row-1 .box-title {
font-size: 15px;
text-align: center;
color: Gray;
margin-top: 15px;
margin-bottom: 15px;
}

#links-row-1 .box-text {
padding:0px 10px 10px;
line-height:21px;
}

#links-row-1 .box-text ul {
padding: 0;
}

#style-me iframe {
display: block;
margin-left: auto;
margin-right: auto;
}

#user-info .box-text {
width: 150px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

/* IG banner styling */
#ig-banner-link {
margin: 20px 0;
}

#ig-banner-link a {
font-size: 15px;
font-family: 'Quicksand', sans-serif;
color: Gray;
transition: 0.3s;
}

#ig-banner-link a:hover {
color: #404040;
}

/* Category page styling */
#category-main[class^="category"] #view-mode {
display: none;
}

#category-main[class^="category"] #content {
padding: 0 50px 0 50px;
}

#category-main[class^="category"] .article {
position: relative;
width: 450px;
height: 370px;
padding: 0 15px 0 15px;
box-sizing: border-box;
display: inline-block;
float: left;
margin: 30px 0;
}

#category-main[class^="category"] .article .article-head {
position: absolute;
width: 420px;
top: 280px;
text-align: center;
}

#category-main[class^="category"] .article .article-head .publish {
font-size: 12px;
}

#category-main[class^="category"] .article .article-head .title h2 a {
font-size: 15px;
}

#category-main[class^="category"] .article .article-body {
position: absolute;
top: 0;
width: 420px;
height: 280px;
}

#category-main[class^="category"] .article .article-body .article-content {
width: 420px;
height: 280px;
margin: 0;
padding: 0;
}

#category-main[class^="category"] .article .article-body .article-content iframe {
display: none;
}

#category-main[class^="category"] .article .article-body .article-content > br {
display: none;
}

#category-main[class^="category"] .article .article-body .article-content .article-content-inner {
position: relative;
width: 420px;
height: 280px;
margin: 0;
padding: 280px 0 0 0;
}

#category-main[class^="category"] .article .article-body .article-content .article-content-inner p {
margin: 0;
padding: 0;
}

#category-main[class^="category"] .article .article-body .article-content .article-content-inner p:nth-child(1) img , #category-main[class^="category"] .article .article-body .article-content .article-content-inner p:nth-child(2) img {
position: absolute;
top: 140px;
left: 0;
max-width: 420px;
width: auto;
height: auto;
transform: translateY(-50%);
}

#category-main[class^="category"] .article .article-body .article-content .article-content-inner .more {
position: absolute;
top: 0;
left: 0;
width: 420px;
height: 280px;
margin: 0;
padding: 0;
background: none;
opacity: 0;
transition: 0.3s;
}


#category-main[class^="category"] .article .article-body .article-content .article-content-inner .more::before {
content: "READ MORE";
position: absolute;
width: 420px;
height: 280px;
padding: 135px 0;
top: 0;
left: 0;
display: block;
text-align: center;
color: #bc986d;
background: white;
font-family: 'Quicksand', sans-serif;
}

#category-main[class^="category"] .article .article-body .article-content .article-content-inner .more:hover {
opacity: 0.7;
}

#category-main[class^="category"] .article .article-body .article-content .article-content-inner .more a {
width: 420px;
height: 280px;
display: inline-block;
position: absolute;
top: 0;
left: 0;
}


#category-main[class^="category"] .article .article-footer {
display: none;
}


/* Note:
Colors: #bc986d;
*/